# e:\InstantPhotos-master\.env.example
FLASK_SECRET_KEY=generate_with_python_os_urandom
REMOVE_BG_API_KEY=your_remove_bg_api_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
